.navbar{
    justify-content: space-evenly;

}
#background{
    background-image: url("./images/pizzaback3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
}
#img{
    text-align: center;
    padding-top: 100px;
}
.btn{
    text-align: center;
    border-radius: 10px;
    padding: 10 20; 
    background-color: brown;
    color: white;
}
#order{
    padding-top: 100px;
    width: 90%;
    padding-left: 50px; 
     /* ?height: 280px;  */
}
