.navbar{
    justify-content: space-evenly;

}

#logo{
    color: white;

}
span{
    color: black;
}
#background{
    background-image: url("./images/pizzaback3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
}
#img{
    text-align: center;
    padding-top: 100px;
}
.btn{
    text-align: center;
    border-radius: 10px;
    padding: 10 20; 
    background-color: brown;
    color: white;
}
#order{
    padding-top: 100px;
    width: 90%;
    padding-left: 50px; 
    padding-bottom: 100px;
}
.club{
    text-align: center;
    background-color: maroon;
    color: white;
    padding-top: 100px;
    height: 300px;
}
#social{
    display: flex;


}
.two{
    padding-left:20px ;
}
.three{
    padding-left: 20px;
}
#gosocial{
    height: 300px;
    color: white;
    background-color:rgb(31, 27, 27);
    padding-top: 50px;
}
.footer{
    text-align: center;
    color: white;
    background-color: maroon;
    height: 50px;
    padding-top: 25px;
}

#about{
    background-image: url("./images/about section.jpg");
    background-size: cover;
    height: 500px;
    text-align: center;
    color:white;
    
}
span{
    color: red;
    font-size: 25px;
}
#pizza{
    padding-top: 50px;
    
}
#speciality{
    background-image: url("./images/pizzaback2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    text-align: center;
}

    